.container{
  display: flex;
  flex-direction: column;
}

.coin{
  width: 100%;
  padding: 1rem;
  display: flex;
  background-color: aliceblue;
  align-items: center;
}

.coinname{
  margin-left: 1rem;
}

.coininfo{
  height: 100%;
  margin-left: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

.coinchanges{
  margin-left: 15rem;
}

.coinchanges td{
  width: 100px;
  text-align: left;
}

.coinchanges th{
  width: 100px;
  text-align: left;
}

.coinchanges h3{
  text-align: center;
}

.recommendation{
  text-align: center;
}

.recommendation h1{
  margin-left: 40%;
  width: 20%;
  padding: 1rem;
}

.recbuy{
  background-color: lightgreen;
  border-radius: 1rem;
}

.recsell{
  background-color: red;
  border-radius: 1rem;
}

.recwait{
  background-color: lightskyblue;
  border-radius: 1rem;
}

.reasoncontainer{
  padding: 1rem;
}

.reasons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lowhigh{
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.recommendation h1{
  background-color: antiquewhite;
  border-radius: 1rem;
}

.rsicontainer h3{
  text-align: center;
}

.rsicontainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  border: 1px solid black;
}

.table th{
  background-color: antiquewhite;
  text-align: left;
  padding: 1rem;
}

.table td{
  padding: 1rem;
  text-align: left;
}

.table tr{
  border-bottom: 1px solid black;
}

.table tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

