.header{
  text-align: center;
}

.cardcontainer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 3rem;
  row-gap: 2rem;
  padding: 4rem;
}

.searchbar{
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchinput{
  border-radius: 1rem;
  margin-left: .5rem;
  width: 10%;
  padding: 1rem;
}